services:
  db:
    image: postgres:16-alpine
    container_name: gestao_projetos_db
    restart: always
    ports:
      - '5433:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: gestao_projetos_db
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data: